.userLayout .bodyContainer.subNavTrue .leftContentColumn,
.userLayout .bodyContainer.subNavTrue .mainContentColumn {
    padding: 0;
}

/* Default MainLayout begins here */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
