OpenIdConnect__Authority=
OpenIdConnect__ClientId=
OpenIdConnect__ClientSecret=

DataProtection__KeyPath=
DataProtection__CertificatePath=
DataProtection__CertificatePassword=

Serilog__WriteTo__Heracles__Args__path=