
<div class="clearfix">

    <a href="#">
        <div class="addButton">+</div>
    </a>

    <h3 class="pageHeader history">Activities</h3>
    <div class="mainColumnPadding">
        <div id="activityHistoryMenu" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
            <div class="component accordion open ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" data-date="Nov-01-2021" role="tab" id="ui-accordion-activityHistoryMenu-header-0" aria-controls="ui-accordion-activityHistoryMenu-panel-0" aria-selected="true" tabindex="0">
                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                <span class="expanded">–</span>
                Nov <span class="yearSpan" style="">'21</span>
                <span class="activityCount">7</span>
            </div>
            <div class="component accordionContent ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-accordion-activityHistoryMenu-panel-0" aria-labelledby="ui-accordion-activityHistoryMenu-header-0" role="tabpanel" style="display: block;" aria-expanded="true" aria-hidden="false">
                <ul class="nav nav-pills flex-column secondaryNav">
                    <li class="selected nav-item">
                        <a href="/user/29107092/activity/1849107629" class="nav-link">
                            <span class="startDate">11/15</span>
                            <span class="unitDistance">12.60 km.</span>
                            Running
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/29107092/activity/1847280790" class="nav-link">
                            <span class="startDate">11/11</span>
                            <span class="unitDistance">10.88 km.</span>
                            Running
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/29107092/activity/1847280790" class="nav-link">
                            <span class="startDate">11/09</span>
                            <span class="unitDistance">2.80 km.</span>
                            Running
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/29107092/activity/1847280790" class="nav-link">
                            <span class="startDate">11/09</span>
                            <span class="unitDistance">2.95 km.</span>
                            Running
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/29107092/activity/1847280790" class="nav-link">
                            <span class="startDate">11/08</span>
                            <span class="unitDistance">8.29 km.</span>
                            Running
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/29107092/activity/1847280790" class="nav-link">
                            <span class="startDate">11/04</span>
                            <span class="unitDistance">5.32 km.</span>
                            Running
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/29107092/activity/1847280790" class="nav-link">
                            <span class="startDate">11/02</span>
                            <span class="unitDistance">5.35 km.</span>
                            Running
                        </a>
                    </li>
                </ul>
            </div>
            <div class="monthDivider"></div>

            <div class="component accordion  ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" data-date="Oct-01-2021" role="tab" id="ui-accordion-activityHistoryMenu-header-1" aria-controls="ui-accordion-activityHistoryMenu-panel-1" aria-selected="false" tabindex="-1">
                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                <span class="expanded">+</span>
                Oct <span class="yearSpan" style="">'21</span>
                <span class="activityCount">10</span>
            </div>
            <div class="component accordionContent ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-activityHistoryMenu-panel-1" aria-labelledby="ui-accordion-activityHistoryMenu-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                <ul class="nav nav-pills nav-stacked secondaryNav">
                </ul>
            </div>
            <div class="monthDivider"></div>

            <div class="component accordion  ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" data-date="Sep-01-2021" role="tab" id="ui-accordion-activityHistoryMenu-header-2" aria-controls="ui-accordion-activityHistoryMenu-panel-2" aria-selected="false" tabindex="-1">
                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                <span class="expanded">+</span>
                Sep <span class="yearSpan" style="">'21</span>
                <span class="activityCount">13</span>
            </div>
            <div class="component accordionContent ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-activityHistoryMenu-panel-2" aria-labelledby="ui-accordion-activityHistoryMenu-header-2" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                <ul class="nav nav-pills nav-stacked secondaryNav">
                </ul>
            </div>
            <div class="monthDivider"></div>
        </div>
    </div>

</div>