@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="userNavContainer clearfix">
        <a href="/user/29107092/fitnessReports">
            <div class="userNavItem reports ">
                <p>REPORTS</p>
            </div>
        </a>
        <div class="userNavBorder left "></div>
        <div class="userNavBorder right selected"></div>
        <a href="/user/29107092/profile">
            <div class="userNavItem dashboard selected">
                <p>DASHBOARD</p>
            </div>
        </a>
        <div class="userNavBorder left selected"></div>
        <a href="/user/29107092/profile"></a>
        <div class="userNavItem" id="userProfile">
            <a href="/user/29107092/profile">
            </a>
            <div id="imgContainer" class="profileBoxSmall">
                <a href="/user/29107092/profile"></a>
                <div class="avatarContainer" userid="438702" userurl="29107092">
                    <a href="/user/29107092/profile"></a>
                    <a uid="438702" href="/user/29107092/profile" class="avatar ">
                        <img src="~/images/profile-med.jpg" title="Mr Brightside"/>
                    </a>


                </div>

            </div>
            <div id="userNameContainer">
                <div id="userNameText">
                    <p class="userName">Mr Brightside</p>
                    <p class="activeSince">Active since Sep, 2009</p>
                </div>
            </div>
        </div>
    </div>

