@{
    ViewData["Title"] = "Home Page";
}

<div class="subNavcontainer clearfix">
    <div class="userNavContainer clearfix">
        <img src="https://via.placeholder.com/960x78.png?text=Sub+Navigation" />
    </div>
</div>
<div class="leftContentColumn">
    <div class="clearfix">
        <img src="https://via.placeholder.com/260x66.png?text=Activity+List" />
        <div class="mainColumnPadding">
            <img src="https://via.placeholder.com/220x1000.png?text=Activity+List" />
        </div>
    </div>
</div>
<div class="mainContentColumn clearfix  leftColVisible">
    <div class="columnContent clearfix">
        <div class="activityTitle" >
            <img src="https://via.placeholder.com/700x66.png?text=Activity+Title" />
        </div>
        <div class="statsBar">
            <img src="https://via.placeholder.com/700x88.png?text=Stats+Bar" />
        </div>
        <div id="map_area">
            <img src="https://via.placeholder.com/700x435.png?text=Map+Area" />
        </div>
        <div id="chartSection" class="clearfix">
            <div class="chartItem">
                <img src="https://via.placeholder.com/700x129.png?text=Chart+Item+Module:+Elevation" style="padding-top:1px" />
            </div>
            <div class="chartItem">
                <img src="https://via.placeholder.com/700x129.png?text=Chart+Item+Module:+Average+Pace" style="padding-top:1px" />
            </div>
        </div>
    </div>
</div>