@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="subNavcontainer clearfix">
    <partial name="_SubNavigation" model="@Model.SubNavigationViewModel"/>
</div>

<partial name="Activity/_ActivityPage" />