.userNavContainer {
    width: 100%;
    height: 80px;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e7e6e6;
    background-color: #eee;
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #efefef 50%);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.userNavContainer .userNavItem img {
    border-top-left-radius: 3px;
}

.userNavItem {
    float: right;
    height: 80px;
    width: 100px;
    background-position: center 0;
    background-repeat: no-repeat;
}

.userNavItem.selected {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    background-position: center -160px;
}

.userNavItem:hover {
    background-position: center -80px;
}

.userNavItem:hover p {
    color: #888;
}

.userNavItem.dashboard {
    background-image: url('images/sub_nav_dashboard_sprite.png');
}

.userNavItem.import {
    background-image: url('images/sub_nav_import_sprite.png');
}

.userNavItem.reports {
    background-image: url('images/sub_nav_reports_sprite.png');
}

.userNavItem p {
    margin: 52px auto 17px auto;
    text-align: center;
    line-height: 100%;
    font-size: 11px;
    color: #666;
    font-weight: bold;
}

.userNavItem#userProfile {
    float: left;
    width: 350px;
}

.userNavItem#userProfile #imgContainer {
    float: left;
    position: relative;
    top: -1px;
    width: 81px;
    height: 81px;
    margin: 0 25px 0 0;
    overflow: hidden;
}

.userNavItem#userProfile img {
    width: 81px;
}

.userNavItem#userProfile p {
    margin: 0;
}


.userNavItem#userProfile p.userName {
    padding-top: 0;
    line-height: 100%;
    font-size: 24px;
    color: #666;
    text-align: left;
    font-weight: normal;
    word-wrap: break-word;
    max-width: 200px;
}

.userNavItem#userProfile p.activeSince {
    padding-top: 8px;
    line-height: 13px;
    font-size: 13px;
    color: #888;
    text-align: left;
    font-weight: normal;
}

.userNavBorder {
    display: none;
}

.userNavBorder {
    width: 3px;
    height: 80px;
    float: right;
    background-repeat: no-repeat;
    background-position: 0 5px;
}
.userNavBorder.selected {
    display: block;
}

.userNavBorder.right {
    background-image: url('images/sub_nav_selected_shadow_right.png');
}

.userNavBorder.left {
    background-image: url('images/sub_nav_selected_shadow_left.png');
}

#userNameContainer {
    display: table;
    height: 80px;
}

#userNameText {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}


