<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Heracles.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="userLayout activity">
<div id="pageWrapper">
    <div id="homeNavContainer">
        <div class="sizeConstraint">
            <img src="https://via.placeholder.com/960x54.png?text=Main+Navigation" />
        </div>
    </div>
    <div class="bodyWrapper">
        <div class="sizeConstraint">
            <div class="bodyContainer clearfix subNavTrue">
                <div class="subNavcontainer clearfix">
                    <div class="userNavContainer clearfix">
                        <img src="https://via.placeholder.com/960x78.png?text=Sub+Navigation" />
                    </div>
                </div>

                @RenderBody()

            </div>
        </div>
        <div id="footerContainer" class="micro-text">
            <div class="sizeConstraint">
                <div class="container">
                    &copy; 2021 - Heracles.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
