<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom mb-3">
    <div class="container navbar-content">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Heracles</a>

        <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>