@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="leftContentColumn">
    <partial name="Activity/_ActivityList" model="@Model.ActivityListViewModel"/>
</div>
<div class="mainContentColumn clearfix  leftColVisible">
    <div class="columnContent clearfix">
        <div class="activityTitle" >
            <partial name="Activity/_ActivityTitle" model="@Model.ActivityTitleViewModel"/>
        </div>
        <div class="statsBar">
            <partial name="Activity/_StatsBar" model="@Model.StatsBarViewModel"/>
        </div>
        <div id="map_area">
            <partial name="Activity/_MapArea" model="@Model.MapAreaViewModel"/>
        </div>
    </div>
</div>