@model SubNavigationViewModel

<div class="userNavContainer clearfix">
    <a href="#">
        <div class="userNavItem reports ">
            <p>REPORTS</p>
        </div>
    </a>
    <div class="userNavBorder left "></div>
    <div class="userNavBorder right selected"></div>
    <a href="/">
        <div class="userNavItem dashboard selected">
            <p>DASHBOARD</p>
        </div>
    </a>
    <div class="userNavBorder left selected"></div>
    <div class="userNavItem" id="userProfile">
        <div id="imgContainer" class="profileBoxSmall">
            <div class="avatarContainer">
                <a class="avatar" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img src="~/images/profile-med.jpg" title="@Model.Username"/>
                </a>
            </div>
        </div>
        <div id="userNameContainer">
            <div id="userNameText">
                <p class="userName">@Model.Username</p>
                <p class="activeSince">@Model.ActiveSince</p>
            </div>
        </div>
    </div>
</div>

